/* src/App.css */
.food-menu-container {
  padding: 20px;
  text-align: center;
}

.food-menu-table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.food-menu-table th,
.food-menu-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.food-menu-table th {
  background-color: #f2f2f2;
  color: #333;
}

.food-menu-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.food-menu-table tr:hover {
  background-color: #ddd;
}

.food-menu-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}

.food-menu-table td {
  text-align: center;
}

.section-header {
  background-color: #4CAF50; /* สีเขียว */
  color: white;
  font-size: 1.2em;
  text-align: center;
}
